@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.job-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.job-card .job-card-item {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 30px;
  width: 20vw;
}
.job-card-logo-address {
  display: flex;
}

.logoUrl {
  width: 25px;
  height: 2.5rem;
  margin-right: 20px;
  margin-top: 10px;
}

.job-card .job-card-item .title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.job-card .job-card-item .company-name {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.job-card .job-card-item .location {
  color: #111010;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.job-card .job-card-item .description {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.job-card .job-card-item .experience-required {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.Btn-area {
  display: flex;
  flex-direction: column;
}

.job-card .job-card-item .apply-button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

.job-card .job-card-item .apply-button:hover {
  background-color: #45a049;
}

.referral {
  background-color: #221fcb;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
.about {
  font-family: lexend;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0;
}
